.image-reponsive{
    max-width: 50%;

}
.hero_image{
    background: url("pizza.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;

}
.hero_wrapper{
    color: rgb(145, 89, 89);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero_wrapper h1{
    font-size: 3.0rem;
    text-align: center;
}
.hero_wrapper span{
    margin-top: 5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form_code{
    text-align: center;
}
.form_code post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: 0.6rem ;
    border: none;
    outline: none;

}
.form_code button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #00bab1;
    color: white;
    padding: 0.6rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.3rem;


}
/* PRODUCT SECTION */
.product{
    width: 80%;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-right: auto;
}
.product_list_item{
    float: left;
    margin-left: 0.5rem;
}
.product_list_item:first-of-type{
    margin-left: 0;

}
@media screen and (max-width:700px){
    .product_list_item{
        width: 100%;
        float: none;
    }
}